Name: Tej Santosh Sutar
RollNo:176
Class:S.Y B.Sc CS
Batch:H
Date:17/08/2024
Practical No 4. Conditional Statement-II

1.Use Python code to find sum of first thirty natural numbers

In [31]:
print("n");
n=int(input())
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("sum=",sum)

n

 30

sum= 465

In [29]:
n=30
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("sum=",sum)

sum= 465

2.Write python code to print all integers between 1 to n,which are relatively prime to n

In [19]:
import math
def p(n):
    for x in range(1,n):
        if math.gcd(n,x)==1:
            print(x)

In [23]:
p(15)

1
2
4
7
8
11
13
14

3.Write Python code to generate 10 terms of Fibonacci Sequence using loop.

In [27]:
a=0
b=1
for i in range(1,11):
    print(a,end='\n')
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

4.	Write Python program to find the product of n natural numbers using while loop.

In [35]:
print("n")
n=int(input())
product=1
i=1
while i<=n:
    product=product*i
    i=i+1

print("product = ",product)

n

 10

product =  3628800

5.	Use while command on Python to find odd positive integer between 25 to 50.

In [41]:
i = 25
while i <= 50:
    if(i%2!=0):
        print(i)     
    i=i+1

25
27
29
31
33
35
37
39
41
43
45
47
49

6. Write Python code to find the square of odd numbers from 1 to 20  using while loop.

In [47]:
i = 1
while i <= 20:
    if i % 2 != 0:
        print(i ** 2)
    i =i + 1

1
9
25
49
81
121
169
225
289
361

7. Write python code to display multiplication tables of numbers 2 to 10.

In [69]:
for i in range(2,11):
    for j in range(1,11):
        print(i,"x",j,"=",i*j)
    print("\n")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Single Multi Number

In [75]:
def multi(n):
    i=1
    while i<=10:
        print(i*n)
        i=i+1

In [81]:
multi(6)

6
12
18
24
30
36
42
48
54
60

8. Write Python code to generate modulus value of -10 ,10, -1,1,0.

In [77]:
def f(x):
    if(x>=0):
        print(x)
    else:
        print(-x)

In [79]:
f(10)

10

9. Write Python code to find average of number 50 to 100.

In [85]:
i=50
sum=0
count=0
while i<=100:
    sum=sum+i
    i=i+1
    count=count+1
average=(sum/count)
print("Average =",average)

Average = 75.0

10. Using Python code, find percentage of marks 70,80, 55, 78, 65 in five subject out 
    of  100 each.

In [91]:
num=[70,80,55,78,65]
sum=0
for val in num:
    sum=sum +val
    p=(sum/500)*100
print("The percentage is ",p)

The percentage is  69.6

11. Use Python code to remove all digits after decimal of the given Number 125312.3142.

In [93]:
number=125312.3142
int(number)

125312