Name: Tej Santosh Sutar
RollNo:176
Class:S.Y B.Sc CS
Batch:H
Date:3/08/2024
Practical No 2. Introduction to Python- Data Type-II

In [5]:
s = "Hello"
print(s)

Hello

In [9]:
num=eval(input("enter a number: "))

enter a number:  9

In [15]:
string=input("enter a string :")

enter a string : Hello

In [27]:
L=len("Python")
print(L)

6

In [29]:
a="XY"+"py"
print(a)

XYpy

In [33]:
b="T"+"E"+"J"
print(b)

TEJ

In [45]:
c ="hello Tej "*9
print(c)

hello Tej hello Tej hello Tej hello Tej hello Tej hello Tej hello Tej hello Tej hello Tej

In [57]:
c=("hello"+"\n")*8
print(c)

hello
hello
hello
hello
hello
hello
hello
hello

In [73]:
s="python"
print(s[1])

y

In [79]:
print(s[2])

t

In [77]:
print(s[3])

h

In [75]:
print(s[-2])

o

In [85]:
s="Hello World"
print(s[0])
print(s[1])
print(s[-1])
print(s[5])

H
e
d

In [98]:
a="Hello"+"World"
print(a)
b="ha"*3
print(b)
print(a[-1]+b[0])

HelloWorld
hahaha
dh

 1.Use Python code to construct string operation ‚Äò+‚Äô below string.
‚Ä¢	string1 = Hello, string2 = World!
‚Ä¢	string1 = Good, string2 = Morning

In [9]:
a="Hello"
b="World!"

In [15]:
print(a+b)

HelloWorld!

In [31]:
print("good"+"morning")

goodmorning

2.	Write Python code to repeat the following string 9 times using the string operator ‚Äò*‚Äô.
a.	Python
b.	MATLAB

In [57]:
s="python"

In [61]:
print(("python\n")*9)

python
python
python
python
python
python
python
python
python

In [49]:
print(("MATLAB\n")*9)

MATLAB
MATLAB
MATLAB
MATLAB
MATLAB
MATLAB
MATLAB
MATLAB
MATLAB

3.	Two tuples are given:
ùë°1 = ('m', 'u', 'm', 'b', 'a', 'i')
ùë°2 = ('p', 'u', 'n', 'e')
Show the result of evaluating each of the following string expressions.
a) ùë°1 [3]
b) ùë°2 [:4]
c) ùë°1 [1:] + ùë°2 [:1]
d) ùë°1+ùë°2 [-1]
e) ùë°1+ùë°2
f) ùë°2*2

In [9]:
t1="mumbai"
tuple(t1)

('m', 'u', 'm', 'b', 'a', 'i')

In [11]:
t2="pune"
tuple(t2)

('p', 'u', 'n', 'e')

In [49]:
t1[3]

'm'

In [51]:
t2[:4]

'pune'

In [53]:
ùë°1 [1:] + ùë°2 [:1]

' am indianp'

In [55]:
ùë°1+ùë°2 [-1]

'I am indiane'

In [57]:
ùë°1+ùë°2

'I am indianpune'

In [59]:
ùë°2*2

'punepune'

Q4.	Find the data type of the following data by using Python code.
a. number
b. 31.25
c.	8 + 4j
d.	Mathematics
e.	49

In [61]:
a=8
b=31.25
c=8+4j
d="Mathematics"
e=49
print((type(a)))
print((type(b)))
print((type(c)))
print((type(d)))
print((type(e)))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'int'>

5.	Write python code to display tuple ‚ÄòI am Indian ‚Äô and the second letter in this tuple.

In [63]:
t1="I am indian"
tuple(t1)

('I', ' ', 'a', 'm', ' ', 'i', 'n', 'd', 'i', 'a', 'n')

In [65]:
t1[2]

'a'

6.	i) Write Python code to find the tuple ‚ÄòMATHEMATICS‚Äô from range 3 to 9.
ii)Use Python code to generate second, fifth, eight characters from string ‚ÄòMATHEMATICS ‚Äô

In [67]:
a="MATHEMATICS"
tuple(a)

('M', 'A', 'T', 'H', 'E', 'M', 'A', 'T', 'I', 'C', 'S')

In [69]:
a[3:9]

'HEMATI'

2)

In [71]:
a[2]

'T'

In [72]:
a[5]

'M'

In [73]:
a[8]

'I'

7.	 Write python program which deals with concatenation and repetition of lists. 
List1 = [15, 20, 25, 30, 35, 40]
List2 = [7, 14, 21, 28, 35, 42]
‚Ä¢	Find List1 + List2
‚Ä¢	Find 9*List1
‚Ä¢	Find 7*List2

In [108]:
list1 = [15, 20, 25, 30, 35, 40]
list2 = [7, 14, 21, 28, 35, 42]

In [110]:
list1+list2

[15, 20, 25, 30, 35, 40, 7, 14, 21, 28, 35, 42]

In [112]:
9*list1

[15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40,
 15,
 20,
 25,
 30,
 35,
 40]

In [118]:
7*list2

[7,
 14,
 21,
 28,
 35,
 42,
 7,
 14,
 21,
 28,
 35,
 42,
 7,
 14,
 21,
 28,
 35,
 42,
 7,
 14,
 21,
 28,
 35,
 42,
 7,
 14,
 21,
 28,
 35,
 42,
 7,
 14,
 21,
 28,
 35,
 42,
 7,
 14,
 21,
 28,
 35,
 42]

In [120]:
print((list1)*9)

[15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40, 15, 20, 25, 30, 35, 40]

In [124]:
print((list2)*7)

[7, 14, 21, 28, 35, 42, 7, 14, 21, 28, 35, 42, 7, 14, 21, 28, 35, 42, 7, 14, 21, 28, 35, 42, 7, 14, 21, 28, 35, 42, 7, 14, 21, 28, 35, 42, 7, 14, 21, 28, 35, 42]

8.	Write Python code to reverse the string 
S=[3,4,5,6,7,8,9,10,11,12,13]

In [145]:
S=[3,4,5,6,7,8,9,10,11,12,13]
S.sort(reverse=True)
print(S)

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

9.	Write Python code to sort the list in ascending the 
S=[6,3,5,12,11,10]

In [153]:
a=[6,3,5,12,11,10]
tuple(sorted(list(a)))

(3, 5, 6, 10, 11, 12)

10.	
i)Using python code sort the tuple in ascending and 
descending order 
5, -3, 0, 1, 6,-6, 2

In [159]:
a=[5, -3, 0, 1, 6,-6, 2]
tuple(sorted(list(a)))

(-6, -3, 0, 1, 2, 5, 6)

In [163]:
b=[5, -3, 0, 1, 6,-6, 2]
b=list(b)
b.sort(reverse=True)
b=tuple(b)
print(b)

(6, 5, 2, 1, 0, -3, -6)

ii) Write Python code to find maximum and minimum element in the given list
[7, 8, 71, 32, 49, ‚àí5, 7, 17, 0, 1, 6]

In [179]:
min([7, 8, 71, 32, 49,-5, 7, 17, 0, 1, 6])

-5

In [181]:
max([7, 8, 71, 32, 49,-5, 7, 17, 0, 1, 6])

71

11.	Evaluate following expression on Python.
‚Ä¢	M =[1,2,3,4], Find length M.
‚Ä¢	L=‚ÄúXYZ‚Äù+‚Äúpqr‚Äù, Find L.
‚Ä¢	s=‚ÄòMake In India‚Äô, Find (s[:7]) & (s[:9]).

In [183]:
m=[1,2,3,4]
l=len(m)
print(l)

4

In [187]:
l="xyz"+"pqr"
print(l)

xyzpqr

In [191]:
s="make in india"
s[:7]

'make in'

In [193]:
s[:9]

'make in i'