Name: Tej Santosh Sutar
RollNo:176
Class:S.Y B.Sc CS
Batch:H
Date:10/08/2024
Practical No 3. Conditional statement 1

1. Write Python program to generate the square of numbers from 1 to 10.

In [5]:
for i in range(1,11):
    y=i**2
    print(y)

1
4
9
16
25
36
49
64
81
100

2. Write Python code to generate cube of numbers from 1 to 50.

In [3]:
for i in range(1,51):
    y=i**3
    print(y)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000

3. Write Python program to find the 10 term of the sequence of function 
f (x) = x2 +x.

In [1]:
for x in range(1,11):
    y=x**2+x
    print(y)

2
6
12
20
30
42
56
72
90
110

4. Use Python code to generate the square root of numbers from 21 to 49

In [15]:
import math
for x in range(21,50):
    y=math.sqrt(x)
    print(y)

4.58257569495584
4.69041575982343
4.795831523312719
4.898979485566356
5.0
5.0990195135927845
5.196152422706632
5.291502622129181
5.385164807134504
5.477225575051661
5.5677643628300215
5.656854249492381
5.744562646538029
5.830951894845301
5.916079783099616
6.0
6.082762530298219
6.164414002968976
6.244997998398398
6.324555320336759
6.4031242374328485
6.48074069840786
6.557438524302
6.6332495807108
6.708203932499369
6.782329983125268
6.855654600401044
6.928203230275509
7.0

5. Generate all the prime numbers between 1 to 100 using Python code

In [28]:
for i in range(2,101):
    for j in range(2,101):
        if i%j==0:
            break
    if i==j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

6. Write Python code to list name and roll number of 5 students in B.Sc. (Computer 
science).

In [42]:
list1=["tej:-","akash:-","aryan:-","predeep V:-","shreeyash:-"]
list2=["1","2","3","4","5"]
print("5 students in B.Sc.CS")
for x,y in zip(list1,list2):
    print(x,y)

5 students in B.Sc.CS
tej:- 1
akash:- 2
aryan:- 3
predeep V:- 4
shreeyash:- 5

7. Using Python code to list Name of 5 teacher in your college with their subject.

In [52]:
list1=["tej:-","akash:-","aryan:-","predeep V:-","shreeyash:-"]
list2=["Web-DEVELOPER","PYTHON IN ELECTRONIC","PYTHON IN C","PYTHON IN JAVA","PYTHON IN HTML"]
print("5 teacher with their subject")
for x,y in zip(list1,list2):
    print(x,y)

5 teacher with their subject
tej:- Web-DEVELOPER
akash:- PYTHON IN ELECTRONIC
aryan:- PYTHON IN C
predeep V:- PYTHON IN JAVA
shreeyash:- PYTHON IN HTML

8. Find number between 1 to 200 which are divisible by 7 using Python code

In [58]:
for i in range(1,201):
    if i%7==0:
        print(i,end=",")

7,14,21,28,35,42,49,56,63,70,77,84,91,98,105,112,119,126,133,140,147,154,161,168,175,182,189,196,

9. Write Python code to prints all integers between 1 to 100 that are divisible by 3 
and 7.

In [99]:
for i in range(1,101):
    if i%3==0 and i%7==0:
        print(i,end=",")

21,42,63,84,

10.Write Python program to prints whether the given natural number is divisible by 5 
and less than 100

In [109]:
 def f(x):
     if x%5 and x<100:
         print(x,"is divisible by 5 and less than 100")
     else:
         print(x,"is not divisible by 5 and less than 100")

In [111]:
f(203)

203 is not divisible by 5 and less than 100

11.Write Python code to find all positive divisors of given number n.

In [117]:
def divisors(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=",")

In [119]:
divisors(234)

1,2,3,6,9,13,18,26,39,78,117,234,

12.Write Python code to check if a number is Zero, Odd or Even.

In [113]:
def p(x):
    if x==0:
        print(x,"is zero")
    elif x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")

In [115]:
p(11)

11 is odd